::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  -webkit-transform: scaleX(10);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

//:hover::-webkit-scrollbar {
//  width: 8px;
//  height: 8px;
//}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #787F8B;
  border: none;
  box-shadow: none !important;
}
//
//:hover::-webkit-scrollbar-thumb {
//  background: rgba(100, 108, 122, 0.84);
//}

::-webkit-scrollbar-thumb {
  background: rgba(100, 108, 122, 0.84);
}

:active::-webkit-scrollbar-thumb {
  background: #AECFF0;
}
