// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,400italic);
@import "../assets/carousel";
@import "../assets/scrollbars";
@import "../stylesheets/partials/blog_cards";

html {
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

body {
	font-size: 13px;
	line-height: 20px;
	margin: 0;
	height: 100%;
}

iframe {
	border-width: 0 !important;
}

// Modals
@import "partials/modal";

// Body
$font-stack: 'Roboto', sans-serif;
$main-background: #EFEFEF;

// Navigation
$hover-background: #E7E7E7;
$hover-text: #555;

body {
	background: $main-background;
}

.navbar-default .navbar-nav > li > a:hover {
	color: $hover-text;
	background-color: $hover-background;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

// Footer
.footer-bs {
	background-color: #3c3d41;
	padding: 60px 40px;
	color: #ffba4e; // rgba(255, 255, 255, 1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 6px;
	margin-left: 3%;
	margin-right: 3%;
}

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
	padding: 10px 25px;
}

.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
	border-color: transparent;
}

.footer-bs .footer-brand {
	width: 25%;
}

.footer-bs .footer-brand h2 {
	margin: 0 0 10px;
}

.footer-bs .footer-brand p {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.70);
}

.footer-bs .footer-nav ul.pages {
	list-style: none;
	padding: 0;
}

.footer-bs .footer-nav ul.pages li {
	padding: 5px 0;
}

.footer-bs .footer-nav ul.pages a {
	color: rgba(255, 255, 255, 1.00);
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.footer-bs .footer-nav ul.pages a:hover {
	color: #ffba4e; // rgba(255, 255, 255, 0.80);
	text-decoration: none;
}

.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
	list-style: none;
	padding: 0;
}

.footer-bs .footer-nav ul.list li {
	padding: 5px 0;
}

.footer-bs .footer-nav ul.list a {
	color: rgba(255, 255, 255, 0.80);
	text-decoration: none;
}

.footer-bs .footer-nav ul.list a:hover {
	color: #ffba4e; // rgba(255, 255, 255, 0.60);
	text-decoration: none;
}

.footer-bs .footer-social ul {
	list-style: none;
	padding: 0;
}

.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3px;
}

.footer-social {
	text-decoration: none;
}

.footer-bs .footer-social li {
	text-decoration: none;
	padding: 5px 4px;
}

.footer-bs .footer-social a {
	color: rgba(255, 255, 255, 1.00);
}

.footer-bs .footer-social a:hover {
	color: #ffba4e; // rgba(255, 255, 255, 0.80);
	text-decoration: none;
}

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

.footer-bs .footer-ns p {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.70);
}

.designed-by .text a {
	color: #ffba4e;
	font-weight: bold;
	text-align: center;
	margin: 10px auto;
	text-transform: uppercase;
	text-decoration: none;
}

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
		border-left: solid 1px rgba(255, 255, 255, 0.10);
	}
}

// Main
.main-headline {
	color: #3c3d41; // #0057B8;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 2%;
	font-size: 35px;
	line-height: 1;
	padding-left: 15%;
	padding-right: 15%;
}

.main-headline-text {
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 20px;
	line-height: 1;
}

.main-headline-about {
	color: #fff;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 2%;
	font-size: 35px;
	line-height: 1;
	padding-left: 15%;
	padding-right: 15%;
}

.main-headline-text-about {
	color: #fff;
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 20px;
	line-height: 1;
}

// Approach
.approach-bs {
	color: #3c3d41
}

.approach-headline {
	//font-family: 'Rogan-Medium';
	//font-family: 'Neue Haas Grotesk W01 Disp';
	color: #3c3d41; // #0057B8;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 2%;
	font-size: 35px;
	line-height: 1;
	padding-left: 15%;
	padding-right: 15%;
}

.approach-bs .approach-intro, .approach-bs .approach-workflow, .approach-bs .approach-analytics, .approach-bs .approach-analytics,
.approach-bs .approach-operation, .approach-bs .approach-ns {
	padding: 10px 25px;
	width: 15%;
}

.approach-bs .approach-workflow, .approach-bs .approach-analytics, .approach-bs .approach-analytics, .approach-bs .approach-operation, .approach-bs .approach-ns {
	border-color: transparent;
}

.approach-bs .approach-intro {
	width: 25%;
}

.approach-bs .approach-intro h2 {
	margin: 0 0 10px;
	color: #ffba4e; // rgba(255, 255, 255, 0.80);
}

.approach-bs .approach-intro span {
	font-size: 12px;
}

.approach-bs .approach-workflow h4 {
	color: #ffba4e;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

.approach-bs .approach-workflow span {
	text-transform: uppercase;
	list-style: none;
	padding: 5px 0;
	text-decoration: none;
}

.approach-bs .approach-analytics h4 {
	color: #ffba4e;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3px;
}

.approach-analytics {
	text-decoration: none;
}

.approach-bs .approach-analytics span {
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	list-style: none;
	padding: 5px 0;
}

.approach-bs .approach-analytics h4 {
	color: #ffba4e;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

.approach-operation {
	text-decoration: none;
}

.approach-bs .approach-operation span {
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	list-style: none;
	padding: 5px 0;
}

.approach-bs .approach-operation h4 {
	color: #ffba4e;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

.approach-ns {
	text-decoration: none;
}

.approach-bs .approach-ns span {
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	list-style: none;
	padding: 5px 0;
}

.approach-bs .approach-ns h4 {
	color: #ffba4e;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

@media (min-width: 768px) {
	.approach-bs .approach-workflow, .approach-bs .approach-analytics, .approach-bs .approach-analytics {
		border-left: solid 1px rgba(255, 255, 255, 0.10);
	}
}

.imgPreview {
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
	margin: 25px;
}

.demo-editor {
	height: 275px !important;
	border: 1px solid #F1F1F1 !important;
	padding: 5px !important;
	border-radius: 2px !important;
}

.autocomplete-dropdown-container {
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
